{% extends "principal.html" %}
{% load bootstrap %}

{% block content %}
        <!-- /.row -->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <i class="fa fa-briefcase fa-fw"></i> Eliminar unidad <b>{{ proyecto.nombre }}</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <form class="form-signin" action="{% url 'proyecto_delete' proyecto.id %}" method="post">{% csrf_token %}
                                        <p>Al eliminar una unidad, se eliminaran todos los datos relacionados con dicha unidad.</p>
                                        <p>¿ Esta seguro de eliminar "{{ proyecto.nombre }}" ?</p>
                                       {{ form | bootstrap}}
                                      <a href="{% url 'proyecto_list' %}" class="btn btn-warning" type="submit" ><i class="fa fa-arrow-left fa-fw"></i> Cancelar</a>
                                      <button class="btn btn-danger" type="submit" ><i class="fa fa-trash-o fa-fw"></i> Eliminar</button>
                                    </form>
                                </div>

                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
        </div>
{% endblock %}