.installed.cfg
bin
develop-eggs
downloads
eggs
parts
src/*.egg-info
*.pyo
*.pyc
configuracion/dbsqlite
.idea/dataSources.local.xml
principal/migrations/0002_auto_20161109_1444.py
principal/migrations/0003_remove_recursop3_audios.py
principal/migrations/0004_auto_20161109_1603.py
principal/migrations/0005_auto_20161109_1604.py
principal/migrations/0006_texto_tipo.py
principal/migrations/0007_ejercicio_recursosp3.py
static/flat_admin/dist/lib/js/jquery.textfill.js
static/media/archivos/10510[kb]lasca-dramatic-poem-recitation-1919.mp3.mp3
static/media/archivos/2574[kb]wikipedia-buffalo-buffalo-buffalo-buffalo.mp3.mp3
static/media/archivos/Alesis-S4-Plus-Wide-Pizzi-C5.wav
static/media/archivos/Minimalist-Widescreen-Wallpaper.png
static/media/archivos/Poly-Lakeside.jpg
static/media/archivos/TareasGS-AlvaroMartinez.doc
static/media/archivos/jquery-textfill-jquery-textfill-v0.6.0-0-ga1c1f29.zip
static/media/archivos/m1.webm
static/media/archivos/m2.webm
static/media/archivos/m3.webm
static/media/archivos/m4.webm
static/media/archivos/m5.webm
static/media/archivos/m6.webm
static/media/archivos/monument_valley_wallpaper_5120x2880.png
static/media/archivos/ui-icons_444444_256x240.png
static/media/archivos/ui-icons_555555_256x240.png
static/media/archivos/ui-icons_777620_256x240.png
static/media/archivos/ui-icons_777777_256x240.png
static/media/archivos/ui-icons_cc0000_256x240.png
static/media/archivos/ui-icons_ffffff_256x240.png
"static/media/archivos\\small.webm"
